@media(max-width: 800px){

  .wrapper {

        .wrapper__header{
          background-image: url("http://via.placeholder.com/600x800");
          min-height: 60vh;
          margin-bottom: 3rem ;

          .wrapper__text {

             .font__h1{
               font-size: 3rem;

             }

          }

        }

        .box__wrapper{
          grid-auto-flow: row;
          grid-gap: 2rem;
          grid-template-columns: 1fr;
          max-width: 90%;
          .boxes{

              .boxes__inner{

                  .box__image{
                    max-width: 80vw;
                    max-height: 300vh;
                    border-radius: 0.4rem;
                    margin-bottom: 2rem;

                  }



              }

          }
        }


  }

  }

