@media(max-width: 984px){
.wrapper__mobile {
  border: transparent;
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap:2rem;

   .tabs{
     width: 80%;
     padding:2rem;
     margin: 0 auto;
     border: 2px solid black;
     .tab__wrapper{

        a{
           &.tab{
            border: 2px solid black;
            width:100%;
            cursor: pointer;
                &.active{
                  border-bottom:2px solid #337ab7;
                  color:#444;
                  cursor: pointer;
                }
          }
        }
      }

      .content{
        order: 2;
          .closed{
            display: flex;
          }
          .open{
            display:none;
          }
      }
    }

    }


    a.tab{
      border: 2px solid red;
      width: 100%;
    }
    .wrapper__desktop {
        display:none
    }
  }

