/* Colors */
$primary: #f04931;
$snow: #fbfbfc;
$titanium: #f7f7f9;
$fog: #f2f2f2;
$ghost: #e6e6e6;
$silver: #cccccc;
$magnesium: #b3b3b3;
$tin: #999999;
$steel: #646464;
$charcoal: #333333;
$green: #40b76b;
$yellow: #fcb519;
$link-color: #012234;
$font-color: #2c2b2b;
/* Animation */
$transition: all 500ms ease;
$transition-fast: all 200ms ease;



// Colors
$brand-primary: $primary;
$brand-danger: $primary;
$brand-warning: $yellow;
$brand-success: $green;
$body-color: $charcoal;
